$home-width: 960px;
$header-main-space: 20px;

#home {
    height: 100%;
    width: $home-width;
    margin: 0 auto;
    padding: 0;

    #header {
        height: 50px;
        display: block;
        border: unset;
    }

    #main {
        display: block;
        margin-top: $header-main-space;
    }

    #footer {
        text-align: center;
        padding: 20px 0 15px 0;
        font-size: 13px !important;
        color: #ababab;
    }
}

@import "header";
@import "main";
@import "loading"