$mainContent-width: 700px;
$sideBar-width: 200px;

#main {

    #mainContent {
        background-color: $global-content-bg-color;
        width: $mainContent-width;
        float: left;
        margin: 0;
        padding: 20px;
        border: solid thin #e6e6e6;
        box-sizing: border-box;
    }

    #sideBar {
        font-size: 85%;
        width: $sideBar-width;
        float: left;
        margin: 0;
        padding-left: 15px;
        border: unset;
    }
}

@import "sideBar";
@import "mainContent";