.cnblogs-markdown {
    blockquote {
        margin: 0;
        padding: 0 0 0 10px;
        border: unset;
        border-left: 5px solid #d1d1d1;
    }

    code {
        margin: 0;
        color: #000000;
        font-size: 90% !important;
        line-height: 1.6;
        background-color: $global-code-bg-color !important;
        border: unset !important;
    }

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h3 {
        font-size: 20 !important;
    }

    h4 {
        font-size: 19 !important;
    }

    h5 {
        font-size: 18 !important;
    }

    h6 {
        font-size: 16 !important;
    }

    .hljs {
        color: #000000;
        font-size: 14px !important;
        background-color: #f6f8fa !important;
        border: unset !important;
    }
}

@import "code-hljs";
@import "letax";