$global-font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;

$global-font-color: #585858;
$global-bg-color: #ffffff;
$global-font-size: 16px;
$global-line-height: 1.7;
$global-code-bg-color: #eef4f4;

@import "base";
@import "hide";
@import "home";
@import "markdown"